// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary:rgb(2, 92, 2);
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary:#6BB1BD;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #ffffff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #C62D1B;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
  
  // material calection
  --ion-color-material-1:#ffffff;

 // --ion-item-background:rgb(255, 72, 0);

 --ion-color-kfc:#FF512F;
}

.main ion-item {
  --detail-push-color: var(--ion-color-danger);
  
  //--padding-start: 2px;
    //--border-radius: 6px;
    //--margin-top: 2px;
    margin-top: 5px;
    --padding-start: 0px;
    --border-width:0px;
    --border-style: unset;
    --box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
   // --padding-top: var(--ion-padding, 0px);

    img{
      //border-radius: 6px 0px 0px 6px;
    }

    ion-thumbnail {
      margin-bottom: 0px;
      margin-top: 0px;
    }
    

}
ion-item:first-child{
 margin-top: -9px;
}

ion-item a {
  --min-height: 88px;
}
.avatar{
  height: 180px;
  width: 100%;
  background-image:url(//src/assets/img/photo1.jpg);
  padding-top: 40px;
  padding-left: 35px;
  background-size: cover;
}

.list-md{
  background: none;
}



ion-content{
  //--background: url('/src/assets/img/background.jpg') no-repeat center center / cover !important;
  width:100% !important;
  margin:0  !important;
  img{
    width:100%;
    margin: 0px;
  }
  ion-card-title{
    color: #ff6300;
    font-style: inherit;
    font-size: 20px;
    font-family: unset;
  }
  .card-content-md{
    font-size: 16px;
    text-align: left;
    background-color: #e7e7e7f1 !important;
    border-left:.1px solid #ff6300;
    border-right:.1px solid #ff6300;
    padding: 7px;
    //border-radius: 2px;
  }
  .card-content-md p{
    font-size: 18px;
    border-top:3px solid #149c31;
    //border-left:5px solid #149c31;

  }
  }
  